i.mce-i-pulled:before {
  content: "\f497";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font: normal 20px/1 'dashicons';
  vertical-align: top;
}
i.mce-i-infobox:before {
  content: "\f109";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font: normal 20px/1 'dashicons';
  vertical-align: top;
}
i.mce-i-btn:before {
  content: "\f155";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font: normal 20px/1 'dashicons';
  vertical-align: top;
}